@import '/src/config/styles/tokens.scss';

$spacing: 30px;
$container-maxWidth: 356px;

.Container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 100px;
}

.Separator {
  width: 100%;
  height: 1px;
  background-color: $primaryColor-light;
  margin-left: $spacing;
  &:first-child {
    margin-left: 0;
    margin-right: $spacing;
  }
}