@import '/src/config/styles/tokens.scss';

.Container {
  display: block;


  @media (min-width: $breakpoint-tablet) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-columns: 1fr 1fr;
  }
}