$fontSize-h1: 30px;
$fontSize-h2: 35px;
$fontSize-h3: 20px;
$fontSize-h4: 18px;
$fontSize-h5: 14px;
$fontSize-body: 16px;

$primaryColor-darkest: #000000;
$primaryColor-dark: #707070;
$primaryColor-medium: #A9C5BA;
$primaryColor-light: #00000029;
$primaryColor-lightest: #FFFFFF;