$formSection-padding: 120px 124px 143px;

.Container {
  padding: $formSection-padding;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Logo {
  justify-self: flex-end;
  align-self: flex-end;
  margin-bottom: 73px;
}

.Separator {
  margin: 40px 0;
}

.Condition {
  margin-top: 40px;
}