@import '/src/config/styles/tokens.scss';

.Title {
  margin-bottom: 30px;
  text-align: center;

  @media (min-width: $breakpoint-tablet){
    margin-bottom: 87px;
  }
}

.FormInput {
  margin-bottom: 18px;
}

.ForgotPassword {
  text-align: end;
  margin-bottom: 30px;
}

.SignInButton {
  margin-bottom: 0;
}

.OrContainer {
  margin-bottom: 20px;

  @media (min-width: $breakpoint-tablet){
    margin-bottom: 40px;
  }
}

.Container {
  display: flex;
  align-items: center;
  flex-direction: column;
}