.Title {
  margin-bottom: 87px;
  text-align: center;
}

.FormInput {
  margin-bottom: 18px;
}

.ForgotPassword {
  text-align: end;
  margin-bottom: 30px;
}

.SignInButton,
.OrContainer {
  margin-bottom: 40px;
}

.Container {
  display: flex;
  align-items: center;
  flex-direction: column;
}